<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>19/12/20 13:07:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:newpackage.NewTest@523884b2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/12/20 13:08:23</td>   <td>27083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:newpackage.NewTest@523884b2]">f</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/12/20 13:08:27</td>   <td>31323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:newpackage.NewTest@523884b2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
</table>
